<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <meta charset="UTF-8">
        <link href="styles.css" rel="stylesheet" type="text/css">
        <title>Sentelligence</title>
        <meta name="description" content="">
        <meta name="keywords" content="">

    </head>

    <body>
        <h1>Test 1 - Turn a light on/off on a device from the web server.</h1>
        <center>
            <h1>Turn Light On or Off</h1>
            <br><br>
            <input type="checkbox" id="switch"
                        class="checkbox" />
            <label for="switch" class="toggle">
                <p>OFF    ON</p>
            </label>
        </center>
          </li>
    </body>
</html>
